<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Test Suite">

    <listeners>
        <listener class-name="com.yogesh.api.listeners.ExtentReportListener"/>
        <listener class-name="com.yogesh.api.listeners.RetryListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Retry Tests">

        <classes>

            <class name="com.yogesh.api.tests.BookingTest">

                <methods>
                    <include name="shouldReturnAllBookings"/>
                </methods>

            </class>

        </classes>

    </test>

</suite>